@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 667px) 
and (orientation : landscape) { 
    #picturechoose{
        display:none;
    }
    #forhead{
        display:none;

    }
    #social{
        display:none;
    }
    body{
        height:380px;
    }
    .flex-item{
        font-size:10px;
    }
    .flex-container{
        width:500px;
        margin-top:-40px;
    }
    h1{
        font-size:50px;
    }
    #main{
        margin-left:50px;
        margin-top:-70px;
    }
    .xiao{
        display:flex;
        flex-flow:row;
        margin-top:120px;
        margin-left:30px;
    }
    .box{
        width:25%;
        height:30%;
        background-size: 100px 100px;
    }
}
@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 667px)
and (orientation : portrait) {
   #forhead{
       display:none;
   }
   .mininav1{
    display:block;
    width:20px;
    margin-left:-20px;
}
.flex-container{
    
    margin-top:-50px;
    flex-flow:column;
    margin-left:-130px;
}
.flex-item{
    font-size:10px;
}
#social{
    display:none;
}
#picturechoose{
    display:none;
}

#main{
    margin-left:170px;
    margin-top:-60px;

}
h1{
    font-size:50px;
}
main{
    height:1000px;
}
body{
    height:500px;
}

}